/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# 追加忽略文件，以.gitignore文件所在的目录为相对路径
mvn*
*.log
*.gz

# /开头表示是一个目录， 以.gitignore文件所在的目录为相对路径
/.mvn
